<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Mercado Libre</title>

    <!--Hojas de estilo-->
    <link rel=StyleSheet href="css/home.css" type="text/css" />

</head>

<body>
    <header>
        <!--Barra de navegación-->
        <nav>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado libre" />
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresa</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <!--Sección de Productos-->
        <section class="Productos">
            <h2>Basado en tu última visita</h2>
            <!--Producto Uno-->
            <div class="productos">
                <img src="/images/img-cafetera-moulinex.jpg" width="375px" alt="Imagen cabecera" />
                <p>$6.770</p>
                <h4>40% OFF</h4>
                <h3>Cafetera Moulinex</h3>
            </div>
            <div class="productos">
                <img src="/images/img-macbook-pro-2019.jpg" width="375px" alt="Imagen cabecera" />
                <p>$230.00</p>
                <h4>20% OFF</h4>
                <h3>MacBook Pro 2019</h3>
            </div>
            <div class="productos">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="375px" alt="Imagen cabecera" />
                <p>$70.500</p>
                <h4>10% OFF</h4>
                <h3>Samsung Galaxy S10</h3>
            </div>
            <div class="productos">
                <img src="/images/img-tv-samsung-smart.jpg" width="375px" alt="Imagen cabecera" />
                <p>$23.200</p>
                <h4>5% OFF</h4>
                <h3>SmartTv Samsung 43</h3>
            </div>
        </section>

        <!--Sección de ofertas-->
        <section class="Ofertas">
            <h2>Ofertas especiales</h2>
            <!--Producto Uno-->
            <div class="productos">
                <img src="/images/img-cafetera-moulinex.jpg" width="375px" alt="Imagen cabecera" />
                <p>$6.770</p>
                <h4>40% OFF</h4>
                <h3>Cafetera Moulinex</h3>
            </div>
            <div class="productos">
                <img src="/images/img-macbook-pro-2019.jpg" width="375px" alt="Imagen cabecera" />
                <p>$230.00</p>
                <h4>20% OFF</h4>
                <h3>MacBook Pro 2019</h3>
            </div>
            <div class="productos">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="375px" alt="Imagen cabecera" />
                <p>$70.500</p>
                <h4>10% OFF</h4>
                <h3>Samsung Galaxy S10</h3>
            </div>
            <div class="productos">
                <img src="/images/img-tv-samsung-smart.jpg" width="375px" alt="Imagen cabecera" />
                <p>$23.200</p>
                <h4>5% OFF</h4>
                <h3>SmartTv Samsung 43</h3>
            </div>
        </section>
    </main>

    <!--Inicio Footer-->
    <footer>
        <div class="ElementoFooter">
            <h3>Paga com tarjeta o en efectivo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis tempus augue, in ornare elit. Nulla non
                blandit arcu, sit amet bibendum quam. </p>
        </div>
        <div class="ElementoFooter">
            <h3>Envío gratis desde los $2,000.00</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis tempus augue, in ornare elit. Nulla non
                blandit arcu, sit amet bibendum quam. </p>
        </div>
        <div class="ElementoFooter">
            <h3>Seguridad de principio a fin</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis tempus augue, in ornare elit. Nulla non
                blandit arcu, sit amet bibendum quam. </p>
        </div>
    </footer>

</body>

</html>